
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Space Mono;
    
}
.usernameC{
   
    width: 730px;
    height: 444px;
margin-top: 600px;
 margin-left: -710px;
 border-radius: 10px;
}
.avatarcontainer{
    display: flex;
}
.mains{

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  
   
}
.input{
   
    width: 730px;
    height: 60px;
border : none;
border-radius: 10px;
box-shadow: 0px 0px 10px 0px rgba(177, 164, 197, 0.5);
  text-align: left;
}

.search{
   
    width: 106px;
    height:50px;
    top: 13px;
margin-left: -130px;
    border: none;
    border-radius: 10px;
    background-color: #0079FF;
    color: aliceblue;
   
}
.content{
    margin-top: 500px;
    background-color: #0079FF;
}
.containerChild{
    width: 730px;
    height: 444px;   
    box-shadow: 0px 0px 10px 0px rgba(177, 164, 197, 0.5);
    border-radius: 10px;

margin-top: 600px;
margin-left: -710px;
}

.containermain{
    width: 730px;
    height: 444px;
    margin-top: 30px;
    border-radius: 10px;
margin-left: 20px;
box-shadow: 0px 0px 10px 0px rgba(177, 164, 197, 0.5);
background-color: white;
}
.textcontainer {
    display: flex;
}
.textcontainer >img{
    width: 117px;
    border-radius: 200px;
   object-fit: cover;
   height: 117px;
   margin-top: 30px; 
}
.text > img{
    width: 117px;
    border-radius: 200px;
   object-fit: cover;
   height: 117px;
   margin-top: 30px;
}
.text1{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 30px;
}

.text{
    display: flex;
    gap: 20px;
}

.text >h1{
    font-size: 26px;
}
.hname {
    font-size: 26px;
}
.p1{
    color: #0079FF;
    font-size: 16px;
}
.p2{
    color: grey;
    font-size: 15px;
}
.followerC{
    display: flex;
  width: 480px;
  height: 85px;
  background-color: #F6F8FF;
  text-align:left;
  justify-content: left;
  align-items: center;
  gap: 50px;
  font-size: 13px;
  border-radius: 10px;
  margin-left: 200px;
  margin-top: 30px;
}
.followersContainer{
    display: flex;
    width: 480px;
    height: 85px;
   
    justify-content: left;
    align-items: center;
    gap: 50px;
    font-size: 13px;
    border-radius: 10px;
    margin-left: 200px;
    margin-top: 30px;

}
.ptext{
    margin-left: 30px;

}
.ptext >p{
    color: grey;
  
}
.text{
    margin-left: 50px;
    margin-top: 30px;
}
.location{
    display: flex;
    gap: 40px;
    margin-left: 200px;
}
.locationcontainer{
    display: flex;
    gap: 40px;
    margin-left: 200px;
    overflow-x: hidden;

}
.header{
    display: flex;
    gap: 500px;
}
.but{
    margin-top: 40px;
}
#dark_mode{
    background-color: #141D2F;
    color: white;
    border: none;
    font-family:Space Mono ;
}
#toggle_mode{
    border: none;
    background-color: #F6F8FF;
    color: grey;
    font-family:Space Mono ;
}
.loader {
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    color: #fff;
  }
    .loader:before,
    .loader:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: inherit;
      height: inherit;
      border-radius: 50%;
      transform: rotateX(70deg);
      animation: 1s spin linear infinite;
    }
    .loader:after {
      color: #FF3D00;
      transform: rotateY(70deg);
      animation-delay: .4s;
    }



@media (max-width: 600px) {
    body {
        justify-content: flex-start;
        align-items: flex-start;
        height: auto;
    }
    
    .usernameC,
    .containerChild,
    .containermain {
        width: 100%;
        height: auto;
        margin-top: 30px;
        margin-left: 0;
    }
    
    .mains,
    .textcontainer,
    .location,
    .locationcontainer,
    .header {
        justify-content: flex-start;
        align-items: flex-start;
        margin-left: 0;
        gap: 20px;
    }

    .followersContainer,
    .followerC {
      width: 300px;
        margin-left: 0;
        justify-content: center;
        margin-left: 30px;
    }
    .location{
        flex-direction: column;
        gap: 3px;
    
    text-align: left;
margin-left: 30px;
margin-top: 6px;
}
.text{
    margin-left: -1px
}
    .ptext {
        margin-left: 0;
    }
.input{
    width: 100%;
}
.search{
    margin-top: 5px;
}
.header{
    width: 100%;
    gap: 200px;
}
.containerChild{
    margin-top: 600px;
    width: 400px;
    height: 517px;
}
.locationcontainer{
    flex-direction: column;
    gap: 3px;
}

}
